<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="716f998c-45c9-4716-9f7c-f67738bf4f9a"
            Publisher="CN=Rajat"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>App15</DisplayName>
    <PublisherDisplayName>Rajat</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="App15.App">
        <VisualElements
            DisplayName="App15"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="App15"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>